---
import "../styles/global.css";
---

<div class="nav-links">
  <a class="nav" href="/">Home</a>
  <a class="nav" href="/about">About</a>
  <a class="nav" href="/blog">Blog</a>
  <a class="nav" href="/tags">Tags</a>
</div>
